/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
:root {
  --primary-color: #1E3A8A;     /* Dark Blue */
  --secondary-color: #C8E2FF;   /* Light Blue */
  --text-color: #1E1E1E;        /* Dark Gray */
  --background-color: #F5F5F5;  /* Light Gray */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}
